ANTHROPIC_API_KEY="sk-ant-xxxxxxxx"
OPENAI_API_KEY="sk-xxxxxxxx"
GROQ_API_KEY="gsk_xxxxxxxx"
XAI_API_KEY="xai-xxxxxxxx"
DOCS_AI_MODEL=""
DOCS_VECTOR_NAMESPACE="linea-docs"
UPSTASH_VECTOR_REST_URL=""
UPSTASH_VECTOR_REST_TOKEN=""
